<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime />
  </system.web>
  <connectionStrings>
 <!--   <add key = "AddressBook" value="Data Source=(local); Initial Catalog=AddressBook; User ID=sa; Password=9876543210."/>-->
    <add name="NetBar" connectionString="Data Source=.;Initial Catalog=NetBar;Connect Timeout=15;User ID =sa;Password=123456" />
  </connectionStrings>
</configuration>