<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <connectionStrings>
 <!--   <add key = "AddressBook" value="Data Source=(local); Initial Catalog=AddressBook; UserID=sa; Password=9876543210."/>-->
    <add name="NetBar" connectionString="Data Source=.;Initial Catalog=NetBar;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=False"/>
  </connectionStrings>
</configuration>